@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'EdgecuttingLiteMedium';
    src: url('../fonts/EdgecuttingLiteMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EdgecuttingLiteSharp';
    src: url('../fonts/EdgecuttingLiteSharp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EdgecuttingLiteTight';
    src: url('../fonts/EdgecuttingLiteTight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --color-primario: #000000;
    --color-secundario: #ffffff;
    --color-texto1: #000000;
    --color-texto2: #ffffff;
    --color-hoverWhatsapp: #1ebe5d;
    --color-fondo: #ffffff;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: transparent;
    padding: 16px 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}

.container-header {
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 120px;
    height: 95px;
    transition: all 0.4s ease-in-out;
}

.nav-menu {
    color: #ffffff;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
    font-size: 20px;
    padding-right: 50px;
}
.nav-menu a:hover {
    color: var(--color-hoverWhatsapp);
}
.nav-menu li {
    position: relative;
}

.dropdown-menu {
    font-size: 17px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Contenedor Inicio */
.main-container {
    display: flex;
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
  }
  
  .main-title {
    position: absolute;
    top: 35%;
    z-index: 2;
    color: white;
    font-size: 5rem;
    text-align: center;
  }
  
  .container-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; 
  }
  
  .carousel-slide {
    width: 100%;
    flex-shrink: 0;
  }

  .carousel-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: block;
  }
    
  .main-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 40px; 
  }
  
  .dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot:hover {
    background-color: #777;
  }
  
  #slide1:checked ~ .container-images {
    transform: translateX(0%);
  }
  
  #slide2:checked ~ .container-images {
    transform: translateX(-100%);
  }
  
  #slide3:checked ~ .container-images {
    transform: translateX(-200%);
  }
  
  /* Seccion Nosotros */
  .about-section {
    padding: 20px 0;
    max-width: 100vw;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-section h2 {
    font-size: 3.1rem;
    margin-top: 100px;
    margin-bottom: 5%;
  }

  .about-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 850px;
    text-align: center;
    margin: 0 auto 50px;
  }

  .about-section h3 {
    font-size: 2rem;
    padding-top: 35px;
    margin-bottom: 50px;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }

  .reasons {
    background-color: #1ebe5d;
  }
  .features article {
    width: 250px;
    padding: 10px;
    text-align: center;
  }

  .features .icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .features .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .features h4  {
    font-size: 1.5rem;
    color: orange;
    margin-bottom: 15px;
  }

  .features p {
    font-size: 17px;
  }





  .package-section {
    height: 100vh;
  }






  /* Seccion contacto */
  .contact-section {
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../img/bodas/groom-putting-ring-bride-s-finger.jpg');
    background-size: cover;
    background-position: center; 
    color: white;
    min-height: 70vh;
    min-width: 90vw;
    border: 2px solid white; 
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  .contact-info-container {
    flex: 1;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .info-item i {
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-size: 1.8rem;
    border-radius: 10px;
  }
  
  .info-item .content h4 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .info-item .content p {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .redes-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .redes-item {
    display: flex;
  }
  
  .redes-container h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  
  .redes-container a i {
    font-size: 2.3rem;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .redes-container a:hover i {
    color: black;
  }
  
  .form-container {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    color: white;
    border-radius: 10px;
  }
  
  .form-container h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #b4ff00;
  }
  
  .form-container form {
    display: block;
  }
  
  .form-container form div {
    margin-bottom: 15px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-container input,
  .form-container select,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
  }
  
  .form-container input[type="submit"] {
    background-color: #b4ff00;
    color: black;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  

  











































  .EdgecuttingLiteMedium {
    font-family:'EdgecuttingLiteMedium', sans-serif;
}
.EdgecuttingLiteSharp {
    font-family:'EdgecuttingLiteSharp', sans-serif;
}

.EdgecuttingLiteTight {
    font-family:'EdgecuttingLiteTight', sans-serif;
}
  
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
